.container {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Bree Serif';
  height: 100vh;
}
.heading {
  color: #f0bb03;
}
.description {
  color: #ffffff;
}
.button {
  background-color: #ffffff;
  color: #1e293b;
  border-width: 0px;
  border-radius: 6px;
  padding: 7px;
  height: 29px;
  width: 70px;
  font-weight: bold;
  font-family: 'Bree Serif';
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
}
